.idea/
*/.DS_Store
.vscode
docker/*/
distributed-architecture/admin-server/log/
distributed-architecture/gate-server/log/
distributed-architecture/login-server/log/
distributed-architecture/game-server/log/
client/log/